@model eAccount.Models.ChartofAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chart of Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountCode" class="control-label"></label>
                <input asp-for="AccountCode" class="form-control" />
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasSubsidiary" /> @Html.DisplayNameFor(model => model.HasSubsidiary)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Debit" /> @Html.DisplayNameFor(model => model.Debit)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
