html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #111827;
    padding-top: 80px; /* space so navbar will not overlap */
    color: white;
}

    .sidebar a {
        padding: 12px 20px;
        display: block;
        color: #9ca3af;
        text-decoration: none;
    }

        .sidebar a:hover {
            background: #1f2937;
            color: white;
        }

/* IMPORTANT: This prevents overlap */
body {
    margin-left: 250px;
}

/* Keep header fixed width calculation */
header nav {
    margin-left: 250px;
}

.collapse.show {
    display: block !important;
}

.sidebar a.dropdown-toggle {
    color: #9ca3af !important; /* same as normal sidebar links */
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}

    .sidebar a.dropdown-toggle:hover {
        background: #1f2937;
        color: white !important;
    }
